{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading">プライバーポリシー・免責事項</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
    </div>
</header>
<section class="page-section mb-0" id="about">
    <div class="container text-secondary">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block">広告について</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light"></div>
        <!-- About Section Content-->
        <div class="text-center">
            <p class="pre-wrap lead">　当サイトは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。</p>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light"></div>
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block">免責事項</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light"></div>
        <!-- About Section Content-->
        <div class="text-center">
            <p class="pre-wrap lead">　当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。</p>
            <p class="pre-wrap lead">　また当ブログのコンテンツ・情報について、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。</p>
            <p class="pre-wrap lead">　当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
        </div>
    </div>
</section>
{% endblock contents %}
    