{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column py-5 my-5">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0 mt-5">Log out</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-5 pb-5">またのご来場をお待ちしております。</p>
    </div>
</header>
{% endblock contents %}