{% extends 'base.html' %}
{% load static %}

{% block contents %}

<header class="masthead bg-primary text-white text-center pb-0">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0"><a class="text-white" href="{% url 'accounts:mypage' account_likes_detail.id %}">{{ account_likes_detail.username }}</a></h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">いいねしたIPPIN</p>
    </div>
</header>
<section class="page-section bg-primary text-white mb-0 pt-4 pb-2" id="about">
    <div class="container">
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto mb-2">
                <button class="btn btn-light btn-block font-weight-bolder btn-lg text-primary" onclick='location.href="{% url 'accounts:mypage-post-items' account_likes_detail.id %}"'>投稿したIPPIN</button>
            </div>
            <div class="col-lg-4 mr-auto mb-2">
                <button class="btn btn-light btn-block font-weight-bolder btn-lg text-primary" onclick='location.href="{% url 'accounts:mypage-like-items' account_likes_detail.id %}"'>いいねしたIPPIN</button>
            </div>
        </div>
    </div>
</section>

<!-- IPPINリスト -->
<section class="page-section portfolio bg-primary pt-3" id="portfolio">
    <div class="container">
        <!-- Portfolio Grid Items-->
        <div class="card-columns px-2 mb-5">
            {% for item in my_like_items %}
                {% include 'items/card_columns.html' %}
            {% endfor %}
        </div>

        <!-- ページネーション -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <!-- 前へ の部分 -->
                {% if page_obj.has_previous %}
                    <button class="btn btn-outline-light" onclick='location.href="?page={{ page_obj.previous_page_number }}"'><i class="fas fa-angle-double-left"></i></button>
                {% endif %}
        
                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
                        {% if page_obj.number == num %}
                            <button class="btn btn-light" onclick='location.href="#"'>{{ num }}</button>
                        {% else %}
                            <button class="btn btn-outline-light" onclick='location.href="?page={{ num }}"'>{{ num }}</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        
                <!-- 次へ の部分 -->
                {% if page_obj.has_next %}
                    <button class="btn btn-outline-light" onclick='location.href="?page={{ page_obj.next_page_number }}"'><i class="fas fa-angle-double-right"></i></button>
                {% endif %}
                </div>
            </ul>
        </nav>
    </div>
</section>

{% endblock contents %}