<div class="portfolio-item mr-1" data-toggle="modal" data-target="#portfolioModal{{ item.id }}">
    <div class="card mb-1 mx-0">
        <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
        <div class="card-body p-2">
            <p class="card-text text-secondary font-weight-bolder mb-1">{{ item.comment }}</p>
            <p class="card-text text-right">
                <span class="text-muted mr-2">{{ item.update_at|date:'Y/m/d' }}</span><span class="text-danger"><i class="fas fa-lg fa-heart like-red"></i> {{ item.likes }}</span>
            </p>
        </div>
    </div>
</div>
<!-- Portfolio Modal-->
<div class="portfolio-modal modal fade" id="portfolioModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal{{ item.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">{{ item.item_name }}</h2>
                            <p class="my-3 mb-0 text-left font-weight-bolder text-secondary text-center"><a href="{% url 'accounts:mypage' item.user.id %}">{{ item.user }}</a></p>
                            <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-3" src="{{ item.thumbnail.url }}" alt="Item thumnail">
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-2 text-left font-weight-bolder text-secondary">{{ item.description }}</p>
                            <div class="text-right mb-2 mr-2">{% include 'items/like.html' %}</div>
                            <div id="accordion" role="tablist">
                                <div class="row justify-content-center mb-2"><input type="text" value="{{ item.item_name }}"><button class="btn-example2 btn btn-primary btn-sm collapsed" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="far fa-file-alt"></i></button></div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <p class="font-weight-bolder">コピー完了!</p>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <p class="font-weight-bolder">商品名をコピーして検索!</p>
                                </div>
                            </div>
                            <a class="btn btn-danger btn-block font-weight-bolder" href='https://amzn.to/3hI55Zu' target="_blank" rel="noopener noreferrer">Amazon</a>
                            <a class="btn btn-danger btn-block font-weight-bolder mb-1" href='https://www.rakuten.co.jp/' target="_blank" rel="noopener noreferrer">楽天市場</a>
                            {% if request.user.is_authenticated and request.user == item.user %}
                                <div class="mb-1">
                                    <button class="btn btn-primary font-weight-bolder" onclick="location.href='{% url "items:update-item" item.id %}'"><i class="fas fa-pen"></i>  内容変更</button>
                                    <button class="btn btn-primary font-weight-bolder" onclick="location.href='{% url "items:delete-item" item.id %}'"><i class="fas fa-trash-alt"></i>  投稿削除</button>
                                </div>
                            {% endif %}
                            <div class="mb-1">
                                <button class="btn btn-primary font-weight-bolder" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>