{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center pb-0">
    <div class="container d-flex align-items-center flex-column py-5 mt-5 mb-0">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0 mt-5">投稿削除</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <div class="divider-custom"></div>
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">本当にこの投稿を削除してよろしいですか？</p>
    </div>
</header>
<section class="page-section portfolio bg-primary pt-3 pb-3" id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ item.id }}">
                <div class="card p-2">
                    <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body p-2">
                        <p class="card-text text-secondary font-weight-bolder mb-1">{{ item.comment }}</p>
                        <p class="card-text text-right">
                            <span class="text-muted mr-2">{{ item.update_at|date:'Y/m/d' }}</span><span class="text-danger"><i class="fas fa-lg fa-heart like-red"></i> {{ item.like_users.count }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Portfolio Modal-->
            <div class="portfolio-modal modal fade" id="portfolioModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal{{ item.id }}Label" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title-->
                                        <h2 class="portfolio-modal-title text-secondary mb-0">{{ item.item_name }}</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom"></div>
                                        <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-3" src="{{ item.thumbnail.url }}" alt="Log Cabin"/>
                                        <!-- Portfolio Modal - Text-->
                                        <p class="mb-2 text-left font-weight-bolder py-2">{{ item.description }}</p>
                                        <div class="mb-1">
                                            <button class="btn btn-primary font-weight-bolder" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>閉じる</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white pt-1 pb-5" id="about">
    <div class="container">
        <!-- Icon Divider-->
        <div class="divider-custom divider-light"></div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-4 mx-auto my-1">
                <form class="text-center" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-light btn-block font-weight-bolder btn-lg text-primary" type="submit">削除</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}