{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center pb-0">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">人気のIPPIN</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">選び抜かれた至高のIPPIN。</p>
    </div>
</header>
<section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">新着IPPIN</h2>
        </div>                 -->

        <!-- 検索窓 -->
        <div class="text-center text-white mb-5">
            <div class="header text-center mb-3"><h3>検索窓</h3></div>
            <form action="{% url 'items:search-popular-items-list' %}" method="GET">
                <div class="ui action input" style="width: 100%;">
                    <input type="text" placeholder="検索" value="{{query}}" name="q">
                    <button type="submit" class="ui button"><i class="fas fa-search fa-fw"></i></button>
                </div>
            </form>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="card-columns px-2 mb-5">
            {% for item in popular_items_list %}
                {% include 'items/card_columns.html' %}
            {% endfor %}
        </div>

        <!-- ページネーション -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
                <div class="btn-group btn-group-toggle">
                <!-- 前へ の部分 -->
                {% if page_obj.has_previous %}
                    <button class="btn btn-outline-light" onclick='location.href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'><i class="fas fa-angle-double-left"></i></button>
                {% endif %}
        
                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
                        {% if page_obj.number == num %}
                            <button class="btn btn-light" onclick='location.href="#{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'>{{ num }}</button>
                        {% else %}
                            <button class="btn btn-outline-light" onclick='location.href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'>{{ num }}</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        
                <!-- 次へ の部分 -->
                {% if page_obj.has_next %}
                    <button class="btn btn-outline-light" onclick='location.href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'><i class="fas fa-angle-double-right"></i></button>
                {% endif %}
                </div>
            </ul>
        </nav>
    </div>
</section>
        
{% endblock contents %}