{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center pb-0">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">人気のIPPIN</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">選び抜かれた至高のIPPIN。</p>
    </div>
</header>
<section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">新着IPPIN</h2>
        </div>                 -->

        <!-- 検索窓 -->
        <div class="text-center text-white mb-5">
            <div class="header text-center mb-3"><h3>検索窓</h3></div>
            <form action="{% url 'items:search-popular-items-list' %}" method="GET">
                <div class="ui action input" style="width: 100%;">
                    <input type="text" placeholder="検索" value="{{query}}" name="q">
                    <button type="submit" class="ui button"><i class="fas fa-search fa-fw"></i></button>
                </div>
            </form>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <div class="card-columns px-2 mb-5">
                {% for item in popular_items_list %}
                    <div class="portfolio-item mr-1" data-toggle="modal" data-target="#portfolioModal{{ item.id }}">
                        <div class="card mb-1 mx-0">
                            <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
                            <div class="card-body p-2">
                                <p class="card-text text-secondary font-weight-bolder mb-1">{{ item.comment }}</p>
                                <p class="card-text text-right">
                                    <span class="text-muted mr-2">{{ item.update_at|date:'Y/m/d' }}</span><span class="text-danger"><i class="fas fa-lg fa-heart like-red"></i> {{ item.likes }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Modal-->
                    <div class="portfolio-modal modal fade" id="portfolioModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal{{ item.id }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                                <div class="modal-body text-center">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <!-- Portfolio Modal - Title-->
                                                <h2 class="portfolio-modal-title text-secondary mb-0">{{ item.item_name }}</h2>
                                                <p class="my-3 mb-0 text-left font-weight-bolder text-secondary text-center"><a href="{% url 'accounts:mypage' item.user.id %}">{{ item.user }}</a></p>
                                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-3" src="{{ item.thumbnail.url }}" alt="Item thumnail">
                                                <!-- Portfolio Modal - Text-->
                                                <p class="mb-2 text-left font-weight-bolder text-secondary">{{ item.description }}</p>
                                                <div class="text-right mb-2 mr-2">{% include 'items/like.html' %}</div>   
                                                <div class="row justify-content-center mb-2"><input type="text" value="{{ item.item_name }}"><button class="btn-example2 btn btn-primary btn-sm"><i class="far fa-file-alt"></i></button></div>
                                                <a class="btn btn-danger btn-block font-weight-bolder" href='https://www.amazon.co.jp/'>Amazon</a>
                                                <a class="btn btn-danger btn-block font-weight-bolder mb-1" href='https://www.rakuten.co.jp/'>楽天市場</a>
                                                {% if request.user.is_authenticated and request.user == item.user %}
                                                    <div class="mb-1">
                                                        <button class="btn btn-primary font-weight-bolder" onclick="location.href='{% url "items:update-item" item.id %}'"><i class="fas fa-pen"></i>  内容変更</button>
                                                        <button class="btn btn-primary font-weight-bolder" onclick="location.href='{% url "items:delete-item" item.id %}'"><i class="fas fa-trash-alt"></i>  投稿削除</button>
                                                    </div>
                                                {% endif %}
                                                <div class="mb-1">
                                                    <button class="btn btn-primary font-weight-bolder" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>閉じる</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- ページネーション -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
                        <div class="btn-group btn-group-toggle">
                        <!-- 前へ の部分 -->
                        {% if page_obj.has_previous %}
                            <button class="btn btn-outline-light" onclick='location.href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'><i class="fas fa-angle-double-left"></i></button>
                        {% endif %}
                
                        <!-- 数字の部分 -->
                        {% for num in page_obj.paginator.page_range %}
                            {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
                                {% if page_obj.number == num %}
                                    <button class="btn btn-light" onclick='location.href="#{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'>{{ num }}</button>
                                {% else %}
                                    <button class="btn btn-outline-light" onclick='location.href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'>{{ num }}</button>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                
                        <!-- 次へ の部分 -->
                        {% if page_obj.has_next %}
                            <button class="btn btn-outline-light" onclick='location.href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"'><i class="fas fa-angle-double-right"></i></button>
                        {% endif %}
                        </div>
                    </ul>
                </nav>
        </div>
    </div>
</section>
        
{% endblock contents %}