{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center pb-0">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">ランダムIPPIN</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">運命的な出会いがあるかもしれません。</p>
    </div>
</header>
<section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">新着IPPIN</h2>
        </div>                 -->

        <!-- 検索窓 -->
        <div class="text-center text-white mb-5">
            <div class="header text-center mb-3"><h3>検索窓</h3></div>
            <form action="{% url 'items:search-random-items-list' %}" method="GET">
                <div class="ui action input" style="width: 100%;">
                    <input type="text" placeholder="検索" value="{{query}}" name="q">
                    <button type="submit" class="ui button"><i class="fas fa-search fa-fw"></i></button>
                </div>
            </form>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="card-columns px-2 mb-5">
            {% for item in random_items_list %}
                {% include 'items/card_columns.html' %}
            {% endfor %}
        </div>
    </div>
</section>
        
{% endblock contents %}