{% extends 'base.html' %}
{% load static %}


{% block contents %}
<header class="masthead bg-primary text-white text-center pb-0">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">ランダムIPPIN</h1>
        <!-- Icon Divider-->
        <div class="divider-custom"></div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">IPPINとの運命的な出会い</p>
    </div>
</header>
<section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">新着IPPIN</h2>
        </div>                 -->

        <!-- 検索窓 -->
        <div class="text-center text-white mb-5">
            <div class="header text-center mb-3"><h3>検索窓</h3></div>
            <form action="{% url 'items:search-random-items-list' %}" method="GET">
                <div class="ui action input" style="width: 100%;">
                    <input type="text" placeholder="検索" value="{{query}}" name="q">
                    <button type="submit" class="ui button"><i class="fas fa-search fa-fw"></i></button>
                </div>
            </form>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <div class="card-columns px-2 mb-5">
                {% for item in random_items_list %}
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ item.id }}">
                        <div class="card mb-1">
                            <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
                            <div class="card-body p-2">
                                <p class="card-text text-secondary font-weight-bolder mb-1">{{ item.comment }}</p>
                                <p class="card-text text-right">
                                    <span class="text-muted mr-2">{{ item.update_at|date:'Y/m/d' }}</span><span class="text-danger"><i class="fas fa-lg fa-heart like-red"></i> {{ item.like_users.count }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Modal-->
                    <div class="portfolio-modal modal fade" id="portfolioModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal{{ item.id }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                                <div class="modal-body text-center">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <!-- Portfolio Modal - Title-->
                                                <h2 class="portfolio-modal-title text-secondary mb-0">{{ item.item_name }}</h2>
                                                <p class="mt-2 text-left font-weight-bolder text-secondary text-center"><a href="{% url 'accounts:mypage' item.user.id %}">{{ item.user }}</a></p>
                                                <!-- Icon Divider-->
                                                <div class="divider-custom"></div>
                                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-3" src="{{ item.thumbnail.url }}" alt="Log Cabin"/>
                                                <!-- Portfolio Modal - Text-->
                                                <p class="mb-2 text-left font-weight-bolder">{{ item.description }}</p>
                                                <div class="text-right mb-2 mr-2">{% include 'items/like.html' %}</div>   
                                                <div class="mb-2"><input type="text" value="{{ item.item_name }}"><button class="btn-example2 btn btn-primary btn-sm"><i class="far fa-file-alt"></i></button></div>
                                                <button class="btn btn-danger btn-block font-weight-bolder" onclick="location.href='https://www.amazon.co.jp/'">Amazon</button>
                                                <button class="btn btn-danger btn-block my-1 font-weight-bolder" onclick='location.href="https://www.rakuten.co.jp/"'>楽天市場</button>
                                                {% if request.user.is_authenticated and request.user == item.user %}
                                                    <div class="mb-1">
                                                        <button class="btn btn-primary" onclick="location.href='{% url "items:update-item" item.id %}'"><i class="fas fa-pen"></i>  内容変更</button>
                                                        <button class="btn btn-primary font-weight-bolder" onclick="location.href='{% url "items:delete-item" item.id %}'"><i class="fas fa-trash-alt"></i>  投稿削除</button>
                                                    </div>
                                                {% endif %}
                                                <div class="mb-1">
                                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>閉じる</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
        
{% endblock contents %}